html * {
	font-family: 'Montserrat', sans-serif;
}

#title {
	text-align: center;
	margin-top: 1cm;
	margin-bottom: 1cm;
}

#logo {
	margin: 0 auto;
	width: 100px;
	height: 100px;
}

#menu {
	text-align: center;
	margin-top: 1cm;
	margin-bottom: 1cm;
}

#login {
	margin-top: 1cm;
	margin-bottom: 1cm;
}

#login-center {
	text-align: center;
}

#usr-error {
	width: 40%;
	height: 70%;
}

#honor-scr {
	text-align: center;
	margin-left: 35%;
	margin-right: 35%;
}

#progress, #afterGame {
	text-align: right;
	margin-right: 1cm;
	margin-top: 0.5cm;
	margin-bottom: 1cm;
}

#prompt {
	text-align: right;
	margin: 0.5cm;
}

#mp-progress {
	margin: 1cm;
}

#ptext {
	text-align: left;
	vertical-align: center;
}

#pbutton {
	text-align: right;
}

#counters {
	display: inline;
	margin-right: 1cm;
}

.board-btn, .mp-btn {
	float:left;
	width: 30px !important;
	height: 30px !important;
	margin: 1px;
	background: linear-gradient(#D8D8D8, #A4A4A4); 
	border-radius: 5px;
	text-align:center;
	font-weight: bold;

}

.disable {
	background: linear-gradient(#E6E6E6, #D8D8D8);
}

.me {
	background: linear-gradient(#B8C9FF, #ECF1FF);
	color: #00165E;
}

.opponent {
	background: linear-gradient(#FF9292, #FFCBCB);
	color: #5E0000;
}

#num1 {
	color:yellow !important;
}

#game-board {
	margin-left: auto;
	margin-right: auto;
}

#game-win {
	text-align: center;
	font-size: 250%;
	color: green;
	font-weight: 900;
}

#game-lose {
	text-align: center;
	font-size: 250%;
	font-weight: 900;
	color: red;
}

#hsel{
	margin-bottom:1cm;
}

#honor-tbl{
	margin-top:1cm;
}